.decorated-heading {
    text-align: center;
    font-size: 42px;
    padding-top: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


.decorated-heading::after {
    content: "🫶🏻";

}

/*look for input of the type checkbox (matches attribute and if it us checked,
find the span that immediately follows it and use the ::After selector*/

input[type="checkbox"]:checked + span::after {
    content: "❤️";
}

/* Remove any default margin and padding */

html, body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Make sure the body takes up the full width */
    overflow: hidden; /* Prevent both horizontal and vertical scrolling */
    background-image: url(/images/lined_paper_background.png.jpg);
    background-repeat: none;
}

/* Ensuring flex container does not overflow */
form {
    display:flex;
    justify-content: center;
    gap: 0;
    max-width: 100%; /* Prevents form from exceeding the width */
    width: 100%; /* Ensures form is responsive */
    overflow: hidden; /* Prevent overflow */
    padding-top: 20%;
    margin: 0;

}

/* Styling for each checklist */
.checklist {
    border: solid #b33535;
    border-style:dashed;
    background-color: white;
    width: 30%; /* Adjust width so checklists fit on the screen */
    height: 30%;
    box-sizing: border-box; /* Includes padding/border in the width */
    margin: 20px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Remove bullet points from the list */
ul {
    list-style-type: none;
    padding: 10px;
    margin: 0; /* Remove any margin */
}

/* Styling for each list item */
ul li {
    display: block;
    margin-top: 10px;
}

/* Space between checkbox and text */
ul li input {
    margin-right: 5px;
}

input:checked+span {
    color:#b33535;
}

#inprogress {
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#towatch{
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#complete {
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}